    body {
      font-family: Roboto, sans-serif;
      padding: 0;
      margin: 0;
    }

    div#title-bar {
      display: block;
      margin: 0;
      padding: 0.8% 1.2% 2% 1.2%;
      width: 99%;
      background-color: #fff;
    }

    div.title-bar h1 {
      color: #759CC9 !important;
      font-size: 180%;
      font-weight: bold;
      text-align: left;
      vertical-align: top;
    }

    .color_0, .color_1 { background-color: #949494; }
    .color_2, .color_3 { background-color: #AEAEAE; }
    .color_4, .color_5 { background-color: #EEECF1; }
    .color_6, .color_7 { background-color: #ADC3D1; }
    .color_8, .color_9 { background-color: #8FB1CC; }
    .color_10          { background-color: #759CC9; }

    div.responsive-wrapper {
      overflow-x: auto;
    }

    table#man-heatmap {
      width: 100%;
      border-collapse:collapse;
    }

    table#man-heatmap th.name {
      width: 10%;
      color: #759CC9 !important;
      aspect-ratio: 1;
      padding: 0.8% 1.2% 2% 1.2%;
      border-color: #759CC9;
      border-style: solid;
      border-width: .2em 0 0 0 !important;
      vertical-align: top;
      text-align: left;
      overflow-x: auto;
    }

    table#man-heatmap th a {
      text-decoration: none;
      color: #759CC9;
    }

    table#man-heatmap th.name img {
      width: 50%;
      height: 50%;
      margin-bottom: .5em;
      display: block;
    }

    table#man-heatmap tr.header th {
      background-color: #fff;
    }

    table#man-heatmap td {
      vertical-align: top;
      padding: 0.8% 1% 0.9% 0.5%;

      border-color: #759CC9;
      border-width: .2em 0;
      border-style: solid;
    }

    table#man-heatmap td ul {
      aspect-ratio: 1;
      border-radius: 5%;
      padding: 0;
      margin: 0;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 3% 5%;
      list-style-type: none;
    }

    table#man-heatmap td ul li {
      display: inline-block;
      border-radius: 10%;
      aspect-ratio: 1;
    }

    table#man-heatmap button {
      cursor: pointer;
      border-radius: 20% !important;
      width: 100%;
      height: 100%;
      aspect-ratio: 1;
      font-size: 100%;
    }
    table#man-heatmap button.completed {background-color: #BEE5B0; border-color: #BEE5B0; color: #fff; }
    table#man-heatmap button.failing {background-color: #FB6962; border-color: #FB6962; color: #fff; }
    table#man-heatmap button.not-started {background-color: #fff; color: #AEAEAE; border-color: #fff; }
    table#man-heatmap button.rework {background-color: #FCFC99; color: #AEAEAE; border-color:  #FCFC99; }

    table#man-heatmap button:hover {
      filter: brightness(90%);
      width: 93%;
      height: 93%;
      /* font-weight: bold; */
    }

    ul#button_list {
      aspect-ratio: 1;
      border-radius: 5%;
      padding: 0;
      margin: 0;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 3% 5%;
      list-style-type: none;
    }

    ul#button_list li {
      display: inline-block;
      border-radius: 10%;
      aspect-ratio: 1;
    }

    ul#button_list button {
      cursor: pointer;
      border-radius: 20% !important;
      width: 100%;
      height: 100%;
      aspect-ratio: 1;
      font-size: 100%;
    }

    ul#button_list button.completed {background-color: #BEE5B0; border-color: #BEE5B0; color: #fff; }
    ul#button_list button.failing {background-color: #FB6962; border-color: #FB6962; color: #fff; }
    ul#button_list button.not-started {background-color: #fff; color: #AEAEAE; border-color: #fff; }
    ul#button_list button.rework {background-color: #FCFC99; color: #AEAEAE; border-color:  #FCFC99; }

    ul#button_list button:hover {
      filter: brightness(90%);
      width: 93%;
      height: 93%;
      /* font-weight: bold; */
    }



