
    body {
      font-family: Roboto, sans-serif;
      padding: 0;
      margin: 0;
    }

    div#title-bar {
      display: block;
      margin: 0;
      padding: 0.3em 1em 0.05em 1em;
      width: 99%;
      background-color: #666;
    }

    div#title-bar h1 {
      text-align: right;
      margin: .5em .5em .3em 0;
      color: #fff;
    }

    .color_0, .color_1 { background-color: #949494; }
    .color_2, .color_3 { background-color: #AEAEAE; }
    .color_4, .color_5 { background-color: #EEECF1; }
    .color_6, .color_7 { background-color: #ADC3D1; }
    .color_8, .color_9 { background-color: #8FB1CC; }
    .color_10          { background-color: #759CC9; }

    table#man-heatmap {
      width: 100%;
    }

    table#man-heatmap th.name {
      background-color: #759CC9;
      width: 10%;
      padding: 2.8% 0;
    }

    table#man-heatmap th a {
      text-decoration: none;
      color: #eee;
    }

    table#man-heatmap tr.header th {
      background-color: #759CC9;
      padding: 2% 0 0.3% 0; 
    }
    
    table#man-heatmap td {
      vertical-align: top;
      padding: 1.5% 1%;
    } 
    table#man-heatmap td ul {
      padding: 0;
      margin: 0;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 5% 6%;
      list-style-type: none;
    }

    table#man-heatmap td ul li {
      display: inline-block;
      border-radius: 10%;
      aspect-ratio: 1;
    }

    table#man-heatmap td ul li a {
      border-radius: 7%;
      width: 100%;
      height: 100%;
      aspect-ratio: 1;
      padding: 20% 10% 10% 25%;
      text-decoration: none;
      font-size: 100%;
    }

    table#man-heatmap a.completed:link, table#man-heatmap a.completed:visited {background-color: #BEE5B0; color: #fff; }
    table#man-heatmap a.failing:link, table#man-heatmap a.failing:visited {background-color: #FB6962; color: #fff; }
    table#man-heatmap a.not-started:link, table#man-heatmap a.not-started:visited {background-color: #fff; color: #AEAEAE; } 
    table#man-heatmap a.rework:link, table#man-heatmap a.rework:visited {background-color: #FCFC99; color: #AEAEAE; }



