
    body {
      font-family: Roboto, sans-serif;
      padding: 0;
      margin: 0;
    }

    div#title-bar {
      display: block;
      margin: 0;
      padding: 0.3em 1em 0.05em 1em;
      width: 99%;
      background-color: #666;
    }

    div#title-bar h1 {
      text-align: right;
      margin: .5em .5em .3em 0;
      color: #fff;
    }

    .color_0, .color_1 { background-color: #949494; }
    .color_2, .color_3 { background-color: #AEAEAE; }
    .color_4, .color_5 { background-color: #EEECF1; }
    .color_6, .color_7 { background-color: #ADC3D1; }
    .color_8, .color_9 { background-color: #8FB1CC; }
    .color_10          { background-color: #759CC9; }

    table#man-heatmap {
      width: 100%;
    }

    table#man-heatmap th.name {
      background-color: #759CC9;
      aspect-ratio: 1;
      padding: 2.8% 0;
      border: 10% solid #fff !important;
      border-radius: 10%;
    }

    table#man-heatmap th a {
      text-decoration: none;
      color: #eee;
    }

    table#man-heatmap tr.header th {
      background-color: #759CC9;
      padding: 2% 0 2.8% 0;
      aspect-ratio: 1;
      border: 10% solid #fff !important;
      border-radius: 10%;
    }
    
    table#man-heatmap td {
      vertical-align: top;
      padding: 0.5% 1% 1.2% 0.5%;
      border: 10% solid #fff !important;
      aspect-ratio: 1;
      border-radius: 10%;
    }

    table#man-heatmap td ul {
      padding: 0;
      margin: 0;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 3% 5%;
      list-style-type: none;
    }

    table#man-heatmap td ul li {
      display: inline-block;
      border-radius: 10%;
      aspect-ratio: 1;
    }

    table#man-heatmap button {
      cursor: pointer;
      border-radius: 20% !important;
      width: 100%;
      height: 100%;
      aspect-ratio: 1;
      font-size: 100%;
    }
    table#man-heatmap button.completed {background-color: #BEE5B0; border-color: #BEE5B0; color: #fff; }
    table#man-heatmap button.failing {background-color: #FB6962; border-color: #FB6962; color: #fff; }
    table#man-heatmap button.not-started {background-color: #fff; color: #AEAEAE; border-color: #fff; } 
    table#man-heatmap button.rework {background-color: #FCFC99; color: #AEAEAE; border-color:  #FCFC99; }

    table#man-heatmap button:hover {
      filter: brightness(90%);
      width: 93%;
      height: 93%;
      /* font-weight: bold; */
    }
    



